<div id="content">
  <ul>
    <li>
      <img src="assets/cat.png" alt="">
      <%= link_to "Категории", admin_categories_path %>
    </li>
    <li>
      <img src="assets/post.png" alt="">
      <%= link_to "Посты", admin_posts_path %>
    </li>
    <li>
      <img src="assets/user.png" alt="">
      <%= link_to "Пользователи", admin_users_path %>
    </li>
    <li>
      <img src="assets/page.png" alt="">
      <%= link_to "Страницы", admin_pages_path %>
    </li>
  </ul>
  <div class="clear" id="admin_index_page">
    <h1>Welcome to Blog</h1>
  </div>
</div>