<p>Комментарии (<%= @post.comments.count %>):</p><br />
<%  @post.comments.each do |comment| %>
	<%= current_user.email %>:<br />
	<%= comment.comment_text %><br />
	<%= comment.created_at.to_date %><br /><br />
<% end %>
