<div class="static_pages_index">
  <ul>
    <% @pages.each do |p| %>
      <li>
        <%= p.name %>
        <div class="details">          
          <p><b>Текст:</b><%= trunc(p.content) %></p>
        	<div class="created_at">
          	<%= to_date(p) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <div id="pagination">
    <%= paginate(@pages) %>
  </div>
  <div class="clear"> 
  </div>
</div>