<div class="static_pages_index">
  <ul>
    <% @pages.each do |p| %>
			<div class="every_page">
      	<li>
        	<%= link_to p.name, p %>
      	</li>
			</div>
    <% end %>
  </ul>
  <div class="clear"> 
  </div>
</div>