<div id="page_show">
	<div class="page_name">
		<%= @page.name %>
	</div>
	<div class="page_content">
		<%= simple_format h(@page.content) %>
	</div>
	<% if @page.permalink == "home" %>
		<div id="posts">
			<% @posts = Post.all %>
			<%= render(:template =>'posts/index') %>
		</div>
	<% end %>
</div>