// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#flash{
  font-size:11px;
  color:#893234;
  margin-bottom:20px;
}