<div id="post">
  <p>Все статьи:</p><br />
  <%  @posts.each do |post| %>
  <div id="post_index_title">
	  <br /><p><b><%= link_to(post.title, post) %></b></p><br />
	</div>
	
	<div id="post_index_description">
	  <%= truncate(strip_tags(post.description), :length =>150)%>
	  <%= link_to 'Далее', post %><br />
    <% end %>
  </div>
  <div id="pagination"><%= paginate @posts %>
  </div>
</div>

	
	
