<div id="post">
<p>Все статьи:</p><br />
<%  @posts.each do |post| %>
	<br /><p><b><%= link_to(post.title, post) %></b></p><br />
	<%= truncate(strip_tags(post.description), :length =>150)%>
	  
	   <span><%= link_to 'Далее', post %> </span><br />
<% end %>

  <div id="pagination"><%= paginate @posts %>
  </div>
</div>

	
	
