// VARIABLES:

// border:
$border-color:#A3A39A;
$border-style:solid;
// colors:
$white:#fff;
$black:#000;
// fonts:
$h1:40px "Graublau Web", Helvetica, sans-serif;
$main-font:14px "Graublau Web", Helvetica, sans-serif;
$small-font: 11px "Graublau Web", Helvetica, sans-serif;

// MIXINS
// radius:
@mixin radius{
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -o-border-radius:5px;
}

@mixin myinputs{
  border:1px solid #ccc;
  height:20px;
  font-size:16px;
  padding:4px;
  color:#8F8F8F;
}

// MAIN RULES:
#wrapper{
  a{
    color:#8F8F8F;
    text-decoration:none; 
    &:hover{
      color:#767676;
    }
  }
  // start rules
  margin:auto;
  width:960px;
  
  border: {
    left: {
      width:1px;
      color:$border-color;
      style:$border-style;
    }
    right: {
      width:1px;
      color:$border-color;
      style:$border-style;
    }
    bottom: {
      width:1px;
      color:$border-color;
      style:$border-style;
    }
  }
  
 //  header
 #header{
   height:80px;
   border-bottom:1px solid $border-color;
   background:#eee;
   padding-top: 20px;
   h1{
    font: $h1;
    text-align: center;
    font-weight:700;
   }
 }
 
 // main content:
 #maincontent{
   font:$main-font;
   
   // links:
   a{
     color:#6892C6;
     text-decoration:none;
     &:hover{
       color:#78A4F1;
     }
   }
   
   // sidebar:
   #sidebar{
     float:left;
     padding:10px 5px 10px 5px;
     width:250px;
     
     // user info:
     #userinfo{
       font-size:11px;
       h4{
         background:#7E7C80;
         color:$white;
         padding:5px;
       }
       .email{
         padding:10px 0px 10px 10px;
       }
       .add-post{
          margin:5px 0px 10px 7px;
          a{
            padding:5px;
            background:#B5D0AD;
            color:#fff;
            &:hover{
              background:#BDDBBF;
            }
          }
       }
       .submit{
         padding:5px 0px 10px 10px;
       }
       border:1px solid #ccc;
       margin-bottom:20px;
     }
     
     // sign block:
     #sign{
       font-size:12px;
       margin-bottom:20px;
       padding:8px;
       a{
         color:#C06D35;
         font-weight:bold;
         display: inline-block;
         margin-bottom:5px;
         padding:2px;
         &:hover{
           background:#C06D35;
           color:$white;
         }
       }
     }
     
     ul{
       list-style-type: none;
       margin-left:10px;
       li{
         margin-top:5px;
       }
     }
     
   }
   
   // content:
   #content{
     float:left;
     width:680px;
     padding:10px;
   }
   
 }
 
 // footer:
 #footer{
   font:$small-font;
   height:50px;
   border-top:1px solid $border-color;
   clear:both;
   
   p{
     position: relative;
     top:20px;
     left:15px;
   }
 }
 
// end rules
}


// signup layout:
#signup{
  // begin rules
  height:627px;
  background-image:url(bg.jpg);
  background-repeat: no-repeat;
  background-size:100%;
  font: 15px helvetica, verdana, arial, times, "Times New Roman", sans-serif;
  
  // content:
  #content{
    width:400px;
    color:#848481;
    margin:0 auto;
    position:relative;
    top:130px;
    h1{
      margin-bottom:20px;
      font-size:40px;
      text-shadow: 0px 1px 0px #DBDBDB; 
    }
  }
  // end rules
}

// notice
#notice{
  // begin rules
  @include radius;
  border:1px solid #A8C990;
  background:#A8C990;
  color:$white;
  padding:3px;
  text-align:center;
  margin:10px 0px 20px 0px;
  // end rules
}


// add post form
#add-post-from-user{
  padding:0px 10px 0px 10px;
  color:#8F8F8F;
  h1{
    font-size:20px;
    margin-bottom:10px;
  }
  .field{
    margin-top:20px;
    font-size:18px;
    label{
      display:block;
      margin-bottom:5px;
      margin-right:20px;
    }
    input{
      @include myinputs;
      width:300px;
    }
    textarea{
      @include myinputs;
      width:400px;
      height:180px;
    }
  }
  .button{
    margin-right:20%;
    margin-top:10px;
    margin-bottom:20px;
  }

}

// errors:
#errorExplanation{
  p{
    font-size:20px;
    margin:5px;
  }
  ul{
    margin-left:20px;
  }
  ul li{
    list-style-type:square;
  }
  border:1px solid #7D1D24;
  padding:5px;
  font-size:11px;
  background:#F5F5F5;
  color:#7D1431;
}